.headermain {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: start;
    width: 100%;
    /* height: auto; */
}

.toggledisplaymode {
    /* background-color: white; */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* padding: 5px 5px 5px 5px; */
}

.headerwrapper {
    display: flex;
    height: 5rem;
}