.displayMode {
    background-color: white;
    box-shadow: 2px 2px 3px rgb(121, 121, 121);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    border-radius: 0.5rem;
    transition: background-color 0.5s;
}

a.displayMode:hover {
    background-color: rgb(224, 224, 224);
    
}